<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb.png</key>
            <dict>
                <key>height</key>
                <integer>53</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>57</integer>
                <key>originalWidth</key>
                <integer>63</integer>
                <key>width</key>
                <integer>63</integer>
                <key>x</key>
                <integer>336</integer>
                <key>y</key>
                <integer>701</integer>
            </dict>
            <key>bullet1.png</key>
            <dict>
                <key>height</key>
                <integer>21</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>21</integer>
                <key>originalWidth</key>
                <integer>9</integer>
                <key>width</key>
                <integer>9</integer>
                <key>x</key>
                <integer>326</integer>
                <key>y</key>
                <integer>900</integer>
            </dict>
            <key>bullet2.png</key>
            <dict>
                <key>height</key>
                <integer>21</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>21</integer>
                <key>originalWidth</key>
                <integer>9</integer>
                <key>width</key>
                <integer>9</integer>
                <key>x</key>
                <integer>315</integer>
                <key>y</key>
                <integer>900</integer>
            </dict>
            <key>enemy1.png</key>
            <dict>
                <key>height</key>
                <integer>39</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>43</integer>
                <key>originalWidth</key>
                <integer>57</integer>
                <key>width</key>
                <integer>51</integer>
                <key>x</key>
                <integer>302</integer>
                <key>y</key>
                <integer>979</integer>
            </dict>
            <key>enemy1_down1.png</key>
            <dict>
                <key>height</key>
                <integer>39</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>51</integer>
                <key>originalWidth</key>
                <integer>57</integer>
                <key>width</key>
                <integer>51</integer>
                <key>x</key>
                <integer>249</integer>
                <key>y</key>
                <integer>979</integer>
            </dict>
            <key>enemy1_down2.png</key>
            <dict>
                <key>height</key>
                <integer>47</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>51</integer>
                <key>originalWidth</key>
                <integer>57</integer>
                <key>width</key>
                <integer>51</integer>
                <key>x</key>
                <integer>417</integer>
                <key>y</key>
                <integer>845</integer>
            </dict>
            <key>enemy1_down3.png</key>
            <dict>
                <key>height</key>
                <integer>51</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>51</integer>
                <key>originalWidth</key>
                <integer>57</integer>
                <key>width</key>
                <integer>57</integer>
                <key>x</key>
                <integer>401</integer>
                <key>y</key>
                <integer>701</integer>
            </dict>
            <key>enemy1_down4.png</key>
            <dict>
                <key>height</key>
                <integer>39</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-3</real>
                <key>originalHeight</key>
                <integer>51</integer>
                <key>originalWidth</key>
                <integer>57</integer>
                <key>width</key>
                <integer>47</integer>
                <key>x</key>
                <integer>460</integer>
                <key>y</key>
                <integer>670</integer>
            </dict>
            <key>enemy2.png</key>
            <dict>
                <key>height</key>
                <integer>89</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>3</real>
                <key>originalHeight</key>
                <integer>99</integer>
                <key>originalWidth</key>
                <integer>69</integer>
                <key>width</key>
                <integer>69</integer>
                <key>x</key>
                <integer>417</integer>
                <key>y</key>
                <integer>754</integer>
            </dict>
            <key>enemy2_down1.png</key>
            <dict>
                <key>height</key>
                <integer>93</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>95</integer>
                <key>originalWidth</key>
                <integer>69</integer>
                <key>width</key>
                <integer>69</integer>
                <key>x</key>
                <integer>336</integer>
                <key>y</key>
                <integer>606</integer>
            </dict>
            <key>enemy2_down2.png</key>
            <dict>
                <key>height</key>
                <integer>93</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>95</integer>
                <key>originalWidth</key>
                <integer>69</integer>
                <key>width</key>
                <integer>69</integer>
                <key>x</key>
                <integer>336</integer>
                <key>y</key>
                <integer>511</integer>
            </dict>
            <key>enemy2_down3.png</key>
            <dict>
                <key>height</key>
                <integer>95</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>95</integer>
                <key>originalWidth</key>
                <integer>69</integer>
                <key>width</key>
                <integer>69</integer>
                <key>x</key>
                <integer>537</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>enemy2_down4.png</key>
            <dict>
                <key>height</key>
                <integer>77</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-4</real>
                <key>originalHeight</key>
                <integer>95</integer>
                <key>originalWidth</key>
                <integer>69</integer>
                <key>width</key>
                <integer>69</integer>
                <key>x</key>
                <integer>407</integer>
                <key>y</key>
                <integer>591</integer>
            </dict>
            <key>enemy2_hit.png</key>
            <dict>
                <key>height</key>
                <integer>95</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>99</integer>
                <key>originalWidth</key>
                <integer>69</integer>
                <key>width</key>
                <integer>69</integer>
                <key>x</key>
                <integer>499</integer>
                <key>y</key>
                <integer>128</integer>
            </dict>
            <key>enemy3_down1.png</key>
            <dict>
                <key>height</key>
                <integer>255</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>261</integer>
                <key>originalWidth</key>
                <integer>165</integer>
                <key>width</key>
                <integer>165</integer>
                <key>x</key>
                <integer>169</integer>
                <key>y</key>
                <integer>517</integer>
            </dict>
            <key>enemy3_down2.png</key>
            <dict>
                <key>height</key>
                <integer>255</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>2</real>
                <key>originalHeight</key>
                <integer>261</integer>
                <key>originalWidth</key>
                <integer>165</integer>
                <key>width</key>
                <integer>165</integer>
                <key>x</key>
                <integer>170</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>enemy3_down3.png</key>
            <dict>
                <key>height</key>
                <integer>256</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>2</real>
                <key>originalHeight</key>
                <integer>260</integer>
                <key>originalWidth</key>
                <integer>165</integer>
                <key>width</key>
                <integer>165</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>518</integer>
            </dict>
            <key>enemy3_down4.png</key>
            <dict>
                <key>height</key>
                <integer>255</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>2</real>
                <key>originalHeight</key>
                <integer>261</integer>
                <key>originalWidth</key>
                <integer>165</integer>
                <key>width</key>
                <integer>165</integer>
                <key>x</key>
                <integer>169</integer>
                <key>y</key>
                <integer>260</integer>
            </dict>
            <key>enemy3_down5.png</key>
            <dict>
                <key>height</key>
                <integer>256</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>2</real>
                <key>originalHeight</key>
                <integer>260</integer>
                <key>originalWidth</key>
                <integer>166</integer>
                <key>width</key>
                <integer>166</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>enemy3_down6.png</key>
            <dict>
                <key>height</key>
                <integer>203</integer>
                <key>offsetX</key>
                <real>-8</real>
                <key>offsetY</key>
                <real>18</real>
                <key>originalHeight</key>
                <integer>261</integer>
                <key>originalWidth</key>
                <integer>166</integer>
                <key>width</key>
                <integer>144</integer>
                <key>x</key>
                <integer>169</integer>
                <key>y</key>
                <integer>774</integer>
            </dict>
            <key>enemy3_hit.png</key>
            <dict>
                <key>height</key>
                <integer>256</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>169</integer>
                <key>width</key>
                <integer>165</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>260</integer>
            </dict>
            <key>enemy3_n1.png</key>
            <dict>
                <key>height</key>
                <integer>246</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>4</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>169</integer>
                <key>width</key>
                <integer>165</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>776</integer>
            </dict>
            <key>enemy3_n2.png</key>
            <dict>
                <key>height</key>
                <integer>250</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>3</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>169</integer>
                <key>width</key>
                <integer>165</integer>
                <key>x</key>
                <integer>336</integer>
                <key>y</key>
                <integer>259</integer>
            </dict>
            <key>game_pause_nor.png</key>
            <dict>
                <key>height</key>
                <integer>45</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>45</integer>
                <key>originalWidth</key>
                <integer>60</integer>
                <key>width</key>
                <integer>42</integer>
                <key>x</key>
                <integer>475</integer>
                <key>y</key>
                <integer>511</integer>
            </dict>
            <key>game_pause_pressed.png</key>
            <dict>
                <key>height</key>
                <integer>45</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>45</integer>
                <key>originalWidth</key>
                <integer>60</integer>
                <key>width</key>
                <integer>42</integer>
                <key>x</key>
                <integer>470</integer>
                <key>y</key>
                <integer>845</integer>
            </dict>
            <key>game_resume_nor.png</key>
            <dict>
                <key>height</key>
                <integer>41</integer>
                <key>offsetX</key>
                <real>3</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>45</integer>
                <key>originalWidth</key>
                <integer>60</integer>
                <key>width</key>
                <integer>38</integer>
                <key>x</key>
                <integer>209</integer>
                <key>y</key>
                <integer>979</integer>
            </dict>
            <key>game_resume_pressed.png</key>
            <dict>
                <key>height</key>
                <integer>41</integer>
                <key>offsetX</key>
                <real>3</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>45</integer>
                <key>originalWidth</key>
                <integer>60</integer>
                <key>width</key>
                <integer>38</integer>
                <key>x</key>
                <integer>169</integer>
                <key>y</key>
                <integer>979</integer>
            </dict>
            <key>hero1.png</key>
            <dict>
                <key>height</key>
                <integer>124</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>126</integer>
                <key>originalWidth</key>
                <integer>102</integer>
                <key>width</key>
                <integer>100</integer>
                <key>x</key>
                <integer>315</integer>
                <key>y</key>
                <integer>774</integer>
            </dict>
            <key>hero2.png</key>
            <dict>
                <key>height</key>
                <integer>122</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>126</integer>
                <key>originalWidth</key>
                <integer>102</integer>
                <key>width</key>
                <integer>100</integer>
                <key>x</key>
                <integer>355</integer>
                <key>y</key>
                <integer>900</integer>
            </dict>
            <key>hero_blowup_n1.png</key>
            <dict>
                <key>height</key>
                <integer>124</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>126</integer>
                <key>originalWidth</key>
                <integer>102</integer>
                <key>width</key>
                <integer>98</integer>
                <key>x</key>
                <integer>437</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>hero_blowup_n2.png</key>
            <dict>
                <key>height</key>
                <integer>124</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>126</integer>
                <key>originalWidth</key>
                <integer>102</integer>
                <key>width</key>
                <integer>98</integer>
                <key>x</key>
                <integer>337</integer>
                <key>y</key>
                <integer>128</integer>
            </dict>
            <key>hero_blowup_n3.png</key>
            <dict>
                <key>height</key>
                <integer>124</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>126</integer>
                <key>originalWidth</key>
                <integer>102</integer>
                <key>width</key>
                <integer>98</integer>
                <key>x</key>
                <integer>337</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>hero_blowup_n4.png</key>
            <dict>
                <key>height</key>
                <integer>78</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>5</real>
                <key>originalHeight</key>
                <integer>126</integer>
                <key>originalWidth</key>
                <integer>102</integer>
                <key>width</key>
                <integer>66</integer>
                <key>x</key>
                <integer>407</integer>
                <key>y</key>
                <integer>511</integer>
            </dict>
            <key>ufo1.png</key>
            <dict>
                <key>height</key>
                <integer>88</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>88</integer>
                <key>originalWidth</key>
                <integer>58</integer>
                <key>width</key>
                <integer>58</integer>
                <key>x</key>
                <integer>457</integer>
                <key>y</key>
                <integer>894</integer>
            </dict>
            <key>ufo2.png</key>
            <dict>
                <key>height</key>
                <integer>103</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>107</integer>
                <key>originalWidth</key>
                <integer>60</integer>
                <key>width</key>
                <integer>60</integer>
                <key>x</key>
                <integer>437</integer>
                <key>y</key>
                <integer>128</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>shoot.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91f9b55f9825597b3d73d977ba6e3abc:1/1$</string>
            <key>textureFileName</key>
            <string>shoot.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>1024</integer>
            <key>width</key>
            <integer>1024</integer>
        </dict>
    </dict>
</plist>
